.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.014032;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-7.200000px;}
.ls7{letter-spacing:-1.644573px;}
.ls2{letter-spacing:-0.800000px;}
.ls8{letter-spacing:-0.405511px;}
.ls3{letter-spacing:-0.080000px;}
.ls1{letter-spacing:0.000000px;}
.ls4{letter-spacing:1.280000px;}
.ls9{letter-spacing:1.440000px;}
.lsa{letter-spacing:1.600000px;}
.ls5{letter-spacing:2.080000px;}
.ls6{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-3.490900px;}
.ws5{word-spacing:-2.080000px;}
.ws9{word-spacing:-1.600000px;}
.ws8{word-spacing:-1.440000px;}
.ws4{word-spacing:-1.280000px;}
.ws1{word-spacing:0.000000px;}
.ws3{word-spacing:0.080000px;}
.ws2{word-spacing:0.800000px;}
.ws7{word-spacing:1.644573px;}
.ws0{word-spacing:7.200000px;}
._0{margin-left:-3.840000px;}
._4{margin-left:-2.408000px;}
._2{margin-left:-1.400000px;}
._1{width:1.188000px;}
._3{width:2.188000px;}
._6{width:3.421082px;}
._7{width:135.373156px;}
._8{width:2765.563856px;}
._a{width:4280.864000px;}
._b{width:4282.624000px;}
._9{width:4285.888000px;}
._5{width:4287.872000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y14{bottom:0.094800px;}
.y19{bottom:21.259800px;}
.y15{bottom:23.916000px;}
.y17{bottom:25.651400px;}
.y18{bottom:27.247176px;}
.y16{bottom:33.988800px;}
.y12{bottom:468.142900px;}
.y11{bottom:480.142900px;}
.y10{bottom:492.142900px;}
.yf{bottom:504.142900px;}
.ye{bottom:516.142900px;}
.yd{bottom:528.142900px;}
.yc{bottom:540.142900px;}
.yb{bottom:552.142900px;}
.ya{bottom:564.142900px;}
.y9{bottom:588.142900px;}
.y8{bottom:600.142900px;}
.y7{bottom:612.142900px;}
.y6{bottom:624.142900px;}
.y5{bottom:636.142900px;}
.y4{bottom:648.142900px;}
.y3{bottom:660.142900px;}
.y2{bottom:672.142900px;}
.y13{bottom:763.702900px;}
.y1{bottom:763.929100px;}
.y1a{bottom:822.635800px;}
.h7{height:16.401291px;}
.h8{height:20.246188px;}
.h5{height:25.312000px;}
.h4{height:31.640000px;}
.h6{height:50.829413px;}
.h3{height:177.360000px;}
.h9{height:808.000000px;}
.h1{height:808.500000px;}
.h2{height:829.229000px;}
.h0{height:850.394000px;}
.w2{width:1133.858000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x1{left:21.259900px;}
.x6{left:59.308600px;}
.x2{left:77.952800px;}
.x5{left:139.082800px;}
.x4{left:163.002800px;}
.x3{left:219.692800px;}
.x8{left:227.693400px;}
.x7{left:320.717800px;}
.xa{left:414.201200px;}
.xb{left:592.799800px;}
.x9{left:988.294680px;}
.xc{left:1094.003900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-9.600000pt;}
.ls7{letter-spacing:-2.192764pt;}
.ls2{letter-spacing:-1.066667pt;}
.ls8{letter-spacing:-0.540682pt;}
.ls3{letter-spacing:-0.106667pt;}
.ls1{letter-spacing:0.000000pt;}
.ls4{letter-spacing:1.706667pt;}
.ls9{letter-spacing:1.920000pt;}
.lsa{letter-spacing:2.133333pt;}
.ls5{letter-spacing:2.773333pt;}
.ls6{letter-spacing:4.654533pt;}
.ws6{word-spacing:-4.654533pt;}
.ws5{word-spacing:-2.773333pt;}
.ws9{word-spacing:-2.133333pt;}
.ws8{word-spacing:-1.920000pt;}
.ws4{word-spacing:-1.706667pt;}
.ws1{word-spacing:0.000000pt;}
.ws3{word-spacing:0.106667pt;}
.ws2{word-spacing:1.066667pt;}
.ws7{word-spacing:2.192764pt;}
.ws0{word-spacing:9.600000pt;}
._0{margin-left:-5.120000pt;}
._4{margin-left:-3.210667pt;}
._2{margin-left:-1.866667pt;}
._1{width:1.584000pt;}
._3{width:2.917333pt;}
._6{width:4.561443pt;}
._7{width:180.497541pt;}
._8{width:3687.418474pt;}
._a{width:5707.818667pt;}
._b{width:5710.165333pt;}
._9{width:5714.517333pt;}
._5{width:5717.162667pt;}
.fs4{font-size:30.037867pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y14{bottom:0.126400pt;}
.y19{bottom:28.346400pt;}
.y15{bottom:31.888000pt;}
.y17{bottom:34.201867pt;}
.y18{bottom:36.329568pt;}
.y16{bottom:45.318400pt;}
.y12{bottom:624.190533pt;}
.y11{bottom:640.190533pt;}
.y10{bottom:656.190533pt;}
.yf{bottom:672.190533pt;}
.ye{bottom:688.190533pt;}
.yd{bottom:704.190533pt;}
.yc{bottom:720.190533pt;}
.yb{bottom:736.190533pt;}
.ya{bottom:752.190533pt;}
.y9{bottom:784.190533pt;}
.y8{bottom:800.190533pt;}
.y7{bottom:816.190533pt;}
.y6{bottom:832.190533pt;}
.y5{bottom:848.190533pt;}
.y4{bottom:864.190533pt;}
.y3{bottom:880.190533pt;}
.y2{bottom:896.190533pt;}
.y13{bottom:1018.270533pt;}
.y1{bottom:1018.572133pt;}
.y1a{bottom:1096.847733pt;}
.h7{height:21.868388pt;}
.h8{height:26.994917pt;}
.h5{height:33.749333pt;}
.h4{height:42.186667pt;}
.h6{height:67.772551pt;}
.h3{height:236.480000pt;}
.h9{height:1077.333333pt;}
.h1{height:1078.000000pt;}
.h2{height:1105.638667pt;}
.h0{height:1133.858667pt;}
.w2{width:1511.810667pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x1{left:28.346533pt;}
.x6{left:79.078133pt;}
.x2{left:103.937067pt;}
.x5{left:185.443733pt;}
.x4{left:217.337067pt;}
.x3{left:292.923733pt;}
.x8{left:303.591200pt;}
.x7{left:427.623733pt;}
.xa{left:552.268267pt;}
.xb{left:790.399733pt;}
.x9{left:1317.726240pt;}
.xc{left:1458.671867pt;}
}
